html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h2,
h3,
h4,
a {
	color: #fff;
}

.container {
	max-width: calc(100vw - 3rem);
	margin-inline: auto;
	padding: 1rem;
}

.w3a-modal__footer,
.w3a-spinner-power {
	display: none;
}
